<mat-sidenav-container>
  <mat-sidenav #snav opened mode="side">
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="['flight', flight.id]"
        *ngFor="let flight of (flights$ | async); trackBy: trackByFlight"
        >{{ flight.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>

<a mat-fab routerLink="/flight" class="flight-new" color="primary">+</a>
<button mat-fab class="flight-info" (click)="openInfo()">i</button>
